Node-RED/FinalNode-RED.json
[
    {
        "id": "e76821de6a28b706",
        "type": "tab",
        "label": "TEST2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e4043502744dc32",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP-2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 400,
        "wires": []
    },
    {
        "id": "703502742154161b",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload)\nvar myData = flow.get(\"myData2\")\nvar currentth1 = Number(myData.th1);\nvar currentth2 = Number(myData.th2);\nvar currentth3 = Number(myData.th3);\nvar currentth4 = Number(myData.th4);\n\n\nif (temp <= currentth1) {\n    msg.payload = \"Too Cold\";\n}\nelse if ((currentth1 < temp) && (temp <= currentth2)) {\n    msg.payload = \"Warning Cold\";\n}\nelse if ((currentth2 < temp) && (temp <= currentth3)) {\n    msg.payload = \"Good Temp\";\n}\nelse if ((currentth3 < temp) && (temp <= currentth4)) {\n    msg.payload = \"Warning Hot\";\n}\nelse if (currentth4 < temp){\n    msg.payload = \"Too Hot\"\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 440,
        "wires": [
            [
                "f0d094247fad2897",
                "104ab772b8af4d06",
                "1e4043502744dc32"
            ]
        ]
    },
    {
        "id": "f0d094247fad2897",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Condition ESP-2: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 1030,
        "y": 440,
        "wires": []
    },
    {
        "id": "1c9c131180731d2a",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 3,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Temp ESP-2: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "2b5acc72d5a66677",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP-1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "7e9e2a5c074d1aa5",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Temp ESP-1: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "f43ede28d628fc1f",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Condition ESP-1: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "e2e2d7ae280fb606",
        "type": "ui_form",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "ESP1 Thresh",
        "group": "1d6c583069dfb1e8",
        "order": 10,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "Lowest Thresh",
                "value": "th1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Low Thresh",
                "value": "th2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "High Thesh",
                "value": "th3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Highest Thresh",
                "value": "th4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "th1": "",
            "th2": "",
            "th3": "",
            "th4": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "global",
        "splitLayout": false,
        "className": "",
        "x": 1350,
        "y": 320,
        "wires": [
            [
                "ab8eb891deb77c01"
            ]
        ]
    },
    {
        "id": "f5dc7d2c1011a739",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP-4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "793169068d5299b6",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload)\nvar myData = flow.get(\"myData4\")\nvar currentth1 = Number(myData.th1);\nvar currentth2 = Number(myData.th2);\nvar currentth3 = Number(myData.th3);\nvar currentth4 = Number(myData.th4);\n\n\nif (temp <= currentth1) {\n    msg.payload = \"Too Cold\";\n}\nelse if ((currentth1 < temp) && (temp <= currentth2)) {\n    msg.payload = \"Warning Cold\";\n}\nelse if ((currentth2 < temp) && (temp <= currentth3)) {\n    msg.payload = \"Good Temp\";\n}\nelse if ((currentth3 < temp) && (temp <= currentth4)) {\n    msg.payload = \"Warning Hot\";\n}\nelse {\n    msg.payload = \"Too Hot\";\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 740,
        "wires": [
            [
                "4410310814d1c047",
                "104ab772b8af4d06",
                "f5dc7d2c1011a739"
            ]
        ]
    },
    {
        "id": "4410310814d1c047",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Condition ESP-4: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 1030,
        "y": 740,
        "wires": []
    },
    {
        "id": "0f295b79ab0b97a4",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 5,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Temp ESP-4: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 740,
        "y": 700,
        "wires": []
    },
    {
        "id": "55718ea236f2f10e",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP-3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "f83d75b9110337cc",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload)\nvar myData = flow.get(\"myData3\")\nvar currentth1 = Number(myData.th1);\nvar currentth2 = Number(myData.th2);\nvar currentth3 = Number(myData.th3);\nvar currentth4 = Number(myData.th4);\n\n\nif (temp <= currentth1) {\n    msg.payload = \"Too Cold\";\n}\nelse if ((currentth1 < temp) && (temp <= currentth2)) {\n    msg.payload = \"Warning Cold\";\n}\nelse if ((currentth2 < temp) && (temp <= currentth3)) {\n    msg.payload = \"Good Temp\";\n}\nelse if ((currentth3 < temp) && (temp <= currentth4)) {\n    msg.payload = \"Warning Hot\";\n}\nelse {\n    msg.payload = \"Too Hot\";\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 580,
        "wires": [
            [
                "20fb5f375fa1e024",
                "104ab772b8af4d06",
                "55718ea236f2f10e"
            ]
        ]
    },
    {
        "id": "e42da3a42d05aba5",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Temp ESP-3: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "20fb5f375fa1e024",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Condition ESP-3: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 1030,
        "y": 580,
        "wires": []
    },
    {
        "id": "4a3375a20951d90a",
        "type": "ui_chart",
        "z": "e76821de6a28b706",
        "name": "",
        "group": "1d6c583069dfb1e8",
        "order": 1,
        "width": 16,
        "height": 8,
        "label": "Temp vs. Time (Last 10 readings)",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "60",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1420,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "04c3671224ca5b99",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP1 Thresh",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab8eb891deb77c01",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "StoreValues",
        "rules": [
            {
                "t": "set",
                "p": "myData1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 320,
        "wires": [
            [
                "04c3671224ca5b99"
            ]
        ]
    },
    {
        "id": "182d2ad50d69241f",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload)\nvar myData = flow.get(\"myData1\")\nvar currentth1 = Number(myData.th1);\nvar currentth2 = Number(myData.th2);\nvar currentth3 = Number(myData.th3);\nvar currentth4 = Number(myData.th4);\n\n\nif (temp <= currentth1) {\n    msg.payload = \"Too Cold\";\n}\nelse if ((currentth1 < temp) && (temp <= currentth2)) {\n    msg.payload = \"Warning Cold\";\n}\nelse if ((currentth2 < temp) && (temp <= currentth3)) {\n    msg.payload = \"Good Temp\";\n}\nelse if ((currentth3 < temp) && (temp <= currentth4)) {\n    msg.payload = \"Warning Hot\";\n}\nelse {\n    msg.payload = \"Too Hot\";\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 300,
        "wires": [
            [
                "f43ede28d628fc1f",
                "104ab772b8af4d06",
                "2b5acc72d5a66677"
            ]
        ]
    },
    {
        "id": "104ab772b8af4d06",
        "type": "switch",
        "z": "e76821de6a28b706",
        "name": "Send LED",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Too Cold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Warning Cold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Good Temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Warning Hot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Too Hot",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1350,
        "y": 560,
        "wires": [
            [
                "9c2f848174b5e3bb"
            ],
            [],
            [],
            [],
            [
                "9c2f848174b5e3bb"
            ]
        ]
    },
    {
        "id": "6d8c6e1a6d33e3d2",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "Set LED GREEN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"r\":0,\"g\":255,\"b\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 500,
        "wires": [
            [
                "614e4b19fa5be7fe"
            ]
        ]
    },
    {
        "id": "9c2f848174b5e3bb",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "Set LED RED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"overide\": \"True\", \"r\" : 255, \"g\" : 0, \"b\" :0 }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LEDOverride4482",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 580,
        "wires": [
            [
                "614e4b19fa5be7fe",
                "b2821604df103e8a"
            ]
        ]
    },
    {
        "id": "614e4b19fa5be7fe",
        "type": "mqtt out",
        "z": "e76821de6a28b706",
        "name": "",
        "topic": "LEDOverride4482",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c94f9dddb004cbb",
        "x": 1830,
        "y": 560,
        "wires": []
    },
    {
        "id": "b2821604df103e8a",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 500,
        "wires": []
    },
    {
        "id": "9607ecb77516d057",
        "type": "ui_form",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "ESP2 Thresh",
        "group": "1d6c583069dfb1e8",
        "order": 11,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "Lowest Thresh",
                "value": "th1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Low Thresh",
                "value": "th2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "High Thresh",
                "value": "th3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Highest Thresh",
                "value": "th4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "th1": "",
            "th2": "",
            "th3": "",
            "th4": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "global",
        "splitLayout": false,
        "className": "",
        "x": 1350,
        "y": 360,
        "wires": [
            [
                "9a716f48b06fdc90"
            ]
        ]
    },
    {
        "id": "e4ad56354b06e678",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP2 Thresh",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 360,
        "wires": []
    },
    {
        "id": "9a716f48b06fdc90",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "StoreValues",
        "rules": [
            {
                "t": "set",
                "p": "myData2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 360,
        "wires": [
            [
                "e4ad56354b06e678"
            ]
        ]
    },
    {
        "id": "89b77cc3fe2320f1",
        "type": "ui_form",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "ESP3 Thresh",
        "group": "1d6c583069dfb1e8",
        "order": 12,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "Lowest Thresh",
                "value": "th1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Low Thresh",
                "value": "th2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "High Thresh",
                "value": "th3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Highest Thresh",
                "value": "th4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "th1": "",
            "th2": "",
            "th3": "",
            "th4": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "global",
        "splitLayout": false,
        "className": "",
        "x": 1350,
        "y": 400,
        "wires": [
            [
                "854be7875df056e2"
            ]
        ]
    },
    {
        "id": "90e1a315a62d7bf7",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP3 Thresh",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 400,
        "wires": []
    },
    {
        "id": "854be7875df056e2",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "StoreValues",
        "rules": [
            {
                "t": "set",
                "p": "myData3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 400,
        "wires": [
            [
                "90e1a315a62d7bf7"
            ]
        ]
    },
    {
        "id": "8de858f1a151c023",
        "type": "ui_form",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "ESP4 Thresh",
        "group": "1d6c583069dfb1e8",
        "order": 13,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "Lowest Thresh",
                "value": "th1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Low Thresh",
                "value": "th2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "High Thresh",
                "value": "th3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Highest Thresh",
                "value": "th4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "th1": "",
            "th2": "",
            "th3": "",
            "th4": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "global",
        "splitLayout": false,
        "className": "",
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "850cdb2e14fb60eb"
            ]
        ]
    },
    {
        "id": "bfdd444e7c460b3c",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP4 Thresh",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 440,
        "wires": []
    },
    {
        "id": "850cdb2e14fb60eb",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "StoreValues",
        "rules": [
            {
                "t": "set",
                "p": "myData4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 440,
        "wires": [
            [
                "bfdd444e7c460b3c"
            ]
        ]
    },
    {
        "id": "b21df8b397cb3233",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 1250,
        "y": 680,
        "wires": [
            [
                "4a3375a20951d90a"
            ]
        ]
    },
    {
        "id": "fab6dd1a12255d01",
        "type": "mqtt in",
        "z": "e76821de6a28b706",
        "name": "",
        "topic": "EnvPublish4482",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3c94f9dddb004cbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 480,
        "wires": [
            [
                "80900bffc31dcd23",
                "37bb692fd2deb2d6",
                "bcf0fb789074839d",
                "1d76aecd1c7749fc",
                "1ae3d485e68e5eaa"
            ]
        ]
    },
    {
        "id": "80900bffc31dcd23",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 480,
        "wires": []
    },
    {
        "id": "37bb692fd2deb2d6",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "Set Temp Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.node2_temp",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "EnvPublish4482",
                "fromt": "str",
                "to": "Temp 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "6fb9d3d411097362"
            ]
        ]
    },
    {
        "id": "bcf0fb789074839d",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "Set Temp Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.node3_temp",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "EnvPublish4482",
                "fromt": "str",
                "to": "Temp 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "639d68a4a17ec64c"
            ]
        ]
    },
    {
        "id": "1d76aecd1c7749fc",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "Set Temp Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.node4_temp",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "EnvPublish4482",
                "fromt": "str",
                "to": "Temp 4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "5fc633a23977cb73"
            ]
        ]
    },
    {
        "id": "e780318cf33218e0",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "5079e9a3a02bdc68",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "b04289418e943f5b",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "85d405730c8825e0",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 820,
        "wires": []
    },
    {
        "id": "e04d4f82f655b01a",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Save Temp 1",
        "func": "// Ignore null/undefined values\nif (msg.payload !== null && msg.payload !== undefined) {\n    flow.set(\"myNumber1\", Number(msg.payload));\n}\n\n// Always return current saved value\nmsg.payload = flow.get(\"myNumber1\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1ae3d485e68e5eaa",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "Set Temp Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.node1_temp",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "EnvPublish4482",
                "fromt": "str",
                "to": "Temp 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "e04d4f82f655b01a"
            ]
        ]
    },
    {
        "id": "639d68a4a17ec64c",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Save Temp 3",
        "func": "// Ignore null/undefined values\nif (msg.payload !== null && msg.payload !== undefined) {\n    flow.set(\"myNumber3\", Number(msg.payload));\n}\n\n// Always return current saved value\nmsg.payload = flow.get(\"myNumber3\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6fb9d3d411097362",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Save Temp 2",
        "func": "// Ignore null/undefined values\nif (msg.payload !== null && msg.payload !== undefined) {\n    flow.set(\"myNumber2\", Number(msg.payload));\n}\n\n// Always return current saved value\nmsg.payload = flow.get(\"myNumber2\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5fc633a23977cb73",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Save Temp 4",
        "func": "// Ignore null/undefined values\nif (msg.payload !== null && msg.payload !== undefined) {\n    flow.set(\"myNumber4\", Number(msg.payload));\n}\n\n// Always return current saved value\nmsg.payload = flow.get(\"myNumber4\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ecae540d7991691f",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temp 1",
        "payload": "myNumber1",
        "payloadType": "flow",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "182d2ad50d69241f",
                "e780318cf33218e0",
                "4a3375a20951d90a",
                "7e9e2a5c074d1aa5"
            ]
        ]
    },
    {
        "id": "28090dd859db2c9d",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temp 2",
        "payload": "myNumber2",
        "payloadType": "flow",
        "x": 510,
        "y": 440,
        "wires": [
            [
                "703502742154161b",
                "1c9c131180731d2a",
                "4a3375a20951d90a",
                "b04289418e943f5b"
            ]
        ]
    },
    {
        "id": "1144fb8ee2776a80",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temp 4",
        "payload": "myNumber4",
        "payloadType": "flow",
        "x": 510,
        "y": 740,
        "wires": [
            [
                "0f295b79ab0b97a4",
                "793169068d5299b6",
                "85d405730c8825e0",
                "4a3375a20951d90a"
            ]
        ]
    },
    {
        "id": "ae53be9935534437",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temp 3",
        "payload": "myNumber3",
        "payloadType": "flow",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "e42da3a42d05aba5",
                "f83d75b9110337cc",
                "5079e9a3a02bdc68",
                "4a3375a20951d90a"
            ]
        ]
    },
    {
        "id": "1d6c583069dfb1e8",
        "type": "ui_group",
        "name": "IoT",
        "tab": "5900480ebb1115d6",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c94f9dddb004cbb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "100",
        "cleansession": true,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5900480ebb1115d6",
        "type": "ui_tab",
        "name": "Test1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a9f2e66971dd1e63",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]