Node-RED/flows.json
[
    {
        "id": "e76821de6a28b706",
        "type": "tab",
        "label": "Test-v.1.0 ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d0a5c1ab428c66d",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "Temperature In ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CurrentTemp",
        "payload": "5",
        "payloadType": "num",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "1e4043502744dc32",
                "93574e048372044a",
                "4a3375a20951d90a",
                "703502742154161b"
            ]
        ]
    },
    {
        "id": "4a3375a20951d90a",
        "type": "ui_chart",
        "z": "e76821de6a28b706",
        "name": "",
        "group": "68c382d6716faf06",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "10",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1e4043502744dc32",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "93574e048372044a",
        "type": "ui_text_input",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "Current Temp",
        "tooltip": "",
        "group": "68c382d6716faf06",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "703502742154161b",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload);\n\nif (temp < 0) {\n    msg.payload = \"Too Cold\";\n}\nelse if (temp >= 0 && temp < 15) {\n    msg.payload = \"Warning Cold\";\n}\nelse if (temp >= 15 && temp < 20) {\n    msg.payload = \"Good Temp\";\n}\nelse if (temp >= 20 && temp < 25) {\n    msg.payload = \"Warning Hot\";\n}\nelse if (temp >= 25) {\n    msg.payload = \"Too Hot\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "c0a7db96d4872a5f"
            ]
        ]
    },
    {
        "id": "c0a7db96d4872a5f",
        "type": "ui_text_input",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "68c382d6716faf06",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 800,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "68c382d6716faf06",
        "type": "ui_group",
        "name": "Default",
        "tab": "296e2983c3b1e606",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "296e2983c3b1e606",
        "type": "ui_tab",
        "name": "TempDataGroup",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "169e36b046eb4f97",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]