Node-RED/RoughDraft.2.json
[
    {
        "id": "e76821de6a28b706",
        "type": "tab",
        "label": "TEST2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d0a5c1ab428c66d",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "Temperature In ESP-2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temp 2",
        "payload": "19",
        "payloadType": "num",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "1e4043502744dc32",
                "703502742154161b",
                "1c9c131180731d2a",
                "4a3375a20951d90a"
            ]
        ]
    },
    {
        "id": "1e4043502744dc32",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "703502742154161b",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload)\nvar myData = flow.get(\"myData2\")\nvar currentth1 = Number(myData.th1);\nvar currentth2 = Number(myData.th2);\nvar currentth3 = Number(myData.th3);\nvar currentth4 = Number(myData.th4);\n\n\nif (temp <= currentth1) {\n    msg.payload = \"Too Cold\";\n}\nelse if ((currentth1 < temp) && (temp <= currentth2)) {\n    msg.payload = \"Warning Cold\";\n}\nelse if ((currentth2 < temp) && (temp <= currentth3)) {\n    msg.payload = \"Good Temp\";\n}\nelse if ((currentth3 < temp) && (temp <= currentth4)) {\n    msg.payload = \"Warning Hot\";\n}\nelse {\n    msg.payload = \"Too Hot\";\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "f0d094247fad2897",
                "104ab772b8af4d06"
            ]
        ]
    },
    {
        "id": "f0d094247fad2897",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Condition ESP-2: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "1c9c131180731d2a",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 3,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Temp ESP-2: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "5fe8e827f475381c",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "Temperature In ESP-1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temp 1",
        "payload": "20",
        "payloadType": "num",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "2b5acc72d5a66677",
                "7e9e2a5c074d1aa5",
                "4a3375a20951d90a",
                "182d2ad50d69241f"
            ]
        ]
    },
    {
        "id": "2b5acc72d5a66677",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "7e9e2a5c074d1aa5",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Temp ESP-1: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "f43ede28d628fc1f",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Condition ESP-1: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2e2d7ae280fb606",
        "type": "ui_form",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "ESP1 Thresh",
        "group": "1d6c583069dfb1e8",
        "order": 10,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "",
                "value": "th1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "th1": "",
            "th2": "",
            "th3": "",
            "th4": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "global",
        "splitLayout": false,
        "className": "",
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "ab8eb891deb77c01"
            ]
        ]
    },
    {
        "id": "4d02aaddd50c21b3",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "Temperature In ESP-4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temp 4",
        "payload": "16",
        "payloadType": "num",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "f5dc7d2c1011a739",
                "793169068d5299b6",
                "0f295b79ab0b97a4",
                "4a3375a20951d90a"
            ]
        ]
    },
    {
        "id": "f5dc7d2c1011a739",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "793169068d5299b6",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload)\nvar myData = flow.get(\"myData4\")\nvar currentth1 = Number(myData.th1);\nvar currentth2 = Number(myData.th2);\nvar currentth3 = Number(myData.th3);\nvar currentth4 = Number(myData.th4);\n\n\nif (temp <= currentth1) {\n    msg.payload = \"Too Cold\";\n}\nelse if ((currentth1 < temp) && (temp <= currentth2)) {\n    msg.payload = \"Warning Cold\";\n}\nelse if ((currentth2 < temp) && (temp <= currentth3)) {\n    msg.payload = \"Good Temp\";\n}\nelse if ((currentth3 < temp) && (temp <= currentth4)) {\n    msg.payload = \"Warning Hot\";\n}\nelse {\n    msg.payload = \"Too Hot\";\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 620,
        "wires": [
            [
                "4410310814d1c047",
                "104ab772b8af4d06"
            ]
        ]
    },
    {
        "id": "4410310814d1c047",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Condition ESP-4: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "0f295b79ab0b97a4",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 5,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Temp ESP-4: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 480,
        "y": 580,
        "wires": []
    },
    {
        "id": "f16c71960aa7b625",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "Temperature In ESP-3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temp 3",
        "payload": "17",
        "payloadType": "num",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "55718ea236f2f10e",
                "f83d75b9110337cc",
                "e42da3a42d05aba5",
                "4a3375a20951d90a"
            ]
        ]
    },
    {
        "id": "55718ea236f2f10e",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "f83d75b9110337cc",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload)\nvar myData = flow.get(\"myData3\")\nvar currentth1 = Number(myData.th1);\nvar currentth2 = Number(myData.th2);\nvar currentth3 = Number(myData.th3);\nvar currentth4 = Number(myData.th4);\n\n\nif (temp <= currentth1) {\n    msg.payload = \"Too Cold\";\n}\nelse if ((currentth1 < temp) && (temp <= currentth2)) {\n    msg.payload = \"Warning Cold\";\n}\nelse if ((currentth2 < temp) && (temp <= currentth3)) {\n    msg.payload = \"Good Temp\";\n}\nelse if ((currentth3 < temp) && (temp <= currentth4)) {\n    msg.payload = \"Warning Hot\";\n}\nelse {\n    msg.payload = \"Too Hot\";\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 460,
        "wires": [
            [
                "20fb5f375fa1e024",
                "104ab772b8af4d06"
            ]
        ]
    },
    {
        "id": "e42da3a42d05aba5",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Temp ESP-3: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 480,
        "y": 420,
        "wires": []
    },
    {
        "id": "20fb5f375fa1e024",
        "type": "ui_text",
        "z": "e76821de6a28b706",
        "group": "1d6c583069dfb1e8",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current Condition ESP-3: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "4a3375a20951d90a",
        "type": "ui_chart",
        "z": "e76821de6a28b706",
        "name": "",
        "group": "1d6c583069dfb1e8",
        "order": 1,
        "width": 16,
        "height": 8,
        "label": "Temp vs. Time (Last 10 readings)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "04c3671224ca5b99",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP1 Thresh",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 200,
        "wires": []
    },
    {
        "id": "ab8eb891deb77c01",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "StoreValues",
        "rules": [
            {
                "t": "set",
                "p": "myData1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 200,
        "wires": [
            [
                "04c3671224ca5b99"
            ]
        ]
    },
    {
        "id": "182d2ad50d69241f",
        "type": "function",
        "z": "e76821de6a28b706",
        "name": "Get Message for temperature",
        "func": "var temp = Number(msg.payload)\nvar myData = flow.get(\"myData1\")\nvar currentth1 = Number(myData.th1);\nvar currentth2 = Number(myData.th2);\nvar currentth3 = Number(myData.th3);\nvar currentth4 = Number(myData.th4);\n\n\nif (temp <= currentth1) {\n    msg.payload = \"Too Cold\";\n}\nelse if ((currentth1 < temp) && (temp <= currentth2)) {\n    msg.payload = \"Warning Cold\";\n}\nelse if ((currentth2 < temp) && (temp <= currentth3)) {\n    msg.payload = \"Good Temp\";\n}\nelse if ((currentth3 < temp) && (temp <= currentth4)) {\n    msg.payload = \"Warning Hot\";\n}\nelse {\n    msg.payload = \"Too Hot\";\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "f43ede28d628fc1f",
                "104ab772b8af4d06"
            ]
        ]
    },
    {
        "id": "104ab772b8af4d06",
        "type": "switch",
        "z": "e76821de6a28b706",
        "name": "Send LED",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Too Cold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Warning Cold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Good Temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Warning Hot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Too Hot",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1090,
        "y": 440,
        "wires": [
            [
                "6d8c6e1a6d33e3d2"
            ],
            [],
            [],
            [],
            [
                "9c2f848174b5e3bb"
            ]
        ]
    },
    {
        "id": "6d8c6e1a6d33e3d2",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "Set LED Blue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"r\":0,\"g\":0,\"b\":255}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 420,
        "wires": [
            [
                "614e4b19fa5be7fe",
                "b2821604df103e8a"
            ]
        ]
    },
    {
        "id": "9c2f848174b5e3bb",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "Set LED RED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"r\" : 255, \"g\" : 0, \"b\" : 0 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 460,
        "wires": [
            [
                "614e4b19fa5be7fe",
                "b2821604df103e8a"
            ]
        ]
    },
    {
        "id": "614e4b19fa5be7fe",
        "type": "mqtt out",
        "z": "e76821de6a28b706",
        "name": "",
        "topic": "ThreshCheck4482",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bf541ac7e490b4f5",
        "x": 210,
        "y": 700,
        "wires": []
    },
    {
        "id": "b2821604df103e8a",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 380,
        "wires": []
    },
    {
        "id": "9607ecb77516d057",
        "type": "ui_form",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "ESP2 Thresh",
        "group": "1d6c583069dfb1e8",
        "order": 11,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "",
                "value": "th1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "th1": "",
            "th2": "",
            "th3": "",
            "th4": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "global",
        "splitLayout": false,
        "className": "",
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "9a716f48b06fdc90"
            ]
        ]
    },
    {
        "id": "e4ad56354b06e678",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP2 Thresh",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 240,
        "wires": []
    },
    {
        "id": "9a716f48b06fdc90",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "StoreValues",
        "rules": [
            {
                "t": "set",
                "p": "myData2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 240,
        "wires": [
            [
                "e4ad56354b06e678"
            ]
        ]
    },
    {
        "id": "89b77cc3fe2320f1",
        "type": "ui_form",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "ESP3 Thresh",
        "group": "1d6c583069dfb1e8",
        "order": 12,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "",
                "value": "th1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "th1": "",
            "th2": "",
            "th3": "",
            "th4": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "global",
        "splitLayout": false,
        "className": "",
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "854be7875df056e2"
            ]
        ]
    },
    {
        "id": "90e1a315a62d7bf7",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP3 Thresh",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 280,
        "wires": []
    },
    {
        "id": "854be7875df056e2",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "StoreValues",
        "rules": [
            {
                "t": "set",
                "p": "myData3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 280,
        "wires": [
            [
                "90e1a315a62d7bf7"
            ]
        ]
    },
    {
        "id": "8de858f1a151c023",
        "type": "ui_form",
        "z": "e76821de6a28b706",
        "name": "",
        "label": "ESP4 Thresh",
        "group": "1d6c583069dfb1e8",
        "order": 13,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "",
                "value": "th1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "th4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "th1": "",
            "th2": "",
            "th3": "",
            "th4": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "global",
        "splitLayout": false,
        "className": "",
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "850cdb2e14fb60eb"
            ]
        ]
    },
    {
        "id": "bfdd444e7c460b3c",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "ESP4 Thresh",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 320,
        "wires": []
    },
    {
        "id": "850cdb2e14fb60eb",
        "type": "change",
        "z": "e76821de6a28b706",
        "name": "StoreValues",
        "rules": [
            {
                "t": "set",
                "p": "myData4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 320,
        "wires": [
            [
                "bfdd444e7c460b3c"
            ]
        ]
    },
    {
        "id": "b21df8b397cb3233",
        "type": "inject",
        "z": "e76821de6a28b706",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 990,
        "y": 560,
        "wires": [
            [
                "4a3375a20951d90a"
            ]
        ]
    },
    {
        "id": "fab6dd1a12255d01",
        "type": "mqtt in",
        "z": "e76821de6a28b706",
        "name": "",
        "topic": "EnvPublish4482",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bf541ac7e490b4f5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "80900bffc31dcd23"
            ]
        ]
    },
    {
        "id": "80900bffc31dcd23",
        "type": "debug",
        "z": "e76821de6a28b706",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 360,
        "wires": []
    },
    {
        "id": "1d6c583069dfb1e8",
        "type": "ui_group",
        "name": "IoT",
        "tab": "5900480ebb1115d6",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf541ac7e490b4f5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquito.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5900480ebb1115d6",
        "type": "ui_tab",
        "name": "Test1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0ab1280d85d245ca",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]